.prd_hed {
    width: 100%;
    height: 63px;
    background-color: #150d0f;
}
.prd_wrp {
    width: 1280px;
    margin: 0 auto;
}
.prd_logo {
    float: left;
   margin: 13px 0px 13px 15px;
    width: 80px;
}
.prd_logo img {
    width: 100%;
}
.prd_login {
     margin-top: 14px;
    margin-right: 15px;
    float: right;
}
.loginafter { background-color: #150d0f;}
.alnright {
    text-align: right;
}
.logout {
    background-color: #150d0f;
    cursor: pointer;
    font-size: 14px;
line-height: 15px;
    border: solid 1px #c8a985;
    text-align: center;
    padding: 9px 20px;
    color: #bfa69a;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    text-decoration: none;
}
.logout:hover {
    transform: scale(0.9);
    text-decoration: none;
    color: #fff;
}
.prd_cnt {

    margin-top: 20px;
}
.prd_cnt a {
    text-decoration: none;
}
.prd_cnt a:hover {
    text-decoration: none;
}
.prd_pdt {
    width: 32.2%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 420px;
    border: 1px solid #ddd;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.prd_pdt img {
    width: 100%;
}
.prd_pdt h3 {
    font-size: 14px;
    color: #6c6c6c;
    line-height: 20px;
    margin-top: 10px !important;
    padding-top: 0 !important;
}
.prd_pdt h3 .prd_price {
    font-weight: bold;
    color: #000;
    display: block;
    margin-top: 10px !important;
    font-size: 18px;
}
.prd_ftr {
    width: 100%;
    border-top: solid 1px #d7d7d7;
    float: left;
    text-align: center;
}
.prd_ftr p {
    margin: 15px 0;
    font-size: 12px;
    color: #8c8c8c;
}
.socialIcons {
    margin: 50px;
}
.prd_det {
    float: left;
    width: 100%;
    padding: 20px 0px 0 0;
}
.previewimg img {
    width: 80%;
}
.prd_tmb ul {
    margin: 0px;
    padding: 0px;
}
.prd_tmb ul li {
    list-style: none;
    margin: 0 0 2vh 2vh;
    width: 18vh;
    height: 8.7vw;
    padding: 0.1vw;
}
.prd_tmb ul li.act {
    border: solid 0.5vh #333333 !important;
}
.prd_tmb img {
    width: 99%;
    height: 99%;
}
.prd_viw {
    width: 445px;
    float: left;
    margin-left: 120px;
}
.prd_viw img {
    width: 100%;
}
.prd_lft { float:left; width:942px; }
.prd_lft p { font-size:16px; text-align:center; width: 100%; display: inline-block; margin-top: 40px;}
.pnl_rgt { float:right; padding:20px; background-color:#f1f0ec;     height: 840px;}
.clr {     position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
    top: 63px;}

rd_des .prd_clr .prd_cr span:hover { -webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);}

.prd_clr {
    padding: 1vw 0;
    border-top: 0.3vh solid #ddd;
}

.prd_cr span {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    float: left;
    background-color: #ccc;
}

.pad5 {
    padding-left: 5px;
}
.pad40 {
    padding-left: 40px;
}
.prd_des .prd_clr .prd_cr .red {
    background-color: #e00000;
}
.prd_des .prd_clr .prd_cr .blue {
    background-color: #0b0e36;
}
.prd_des .prd_clr .prd_cr .black {
    background-color: #000;
}
.prd_des .prd_clr .prd_cr .orange {
    background-color: #f25500;
}
.prd_des .prd_clr .prd_cr .act {
	    border: 1px solid #333333;
    outline: 1px solid #333333 !important;
}
.prd_des .prd_clr .prd_sze select {
    border: solid 1px #b2b2b2;
    background-image: url(../img/select_bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    height: 34px;
    width: 120px;
    float: right;
    padding: 5px 10px;
    color: #4e4e4e;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.prd_pz { 
       border: 0.4vh solid #c8a985;
    color: #c8a985;
    width: 100%;
    border-spacing: 0px;
    height: 6.6vh;
    background: #c8a985;
}

.prd_aro {
    border-top: 0.5vw solid transparent;
    border-bottom: 0.5vw solid transparent;
    border-left: 0.5vw solid white;
    background: #c8a985;
    border-top-width: 3vh;
    border-bottom-width: 3vh;
    border-left-width: 3vh;
    float: left;
    height: 100%;
}
.prz { 
   width: 11vw;
    float: left;
    font-size: 1.5vw;
    line-height: 5.8vh;
    text-align: center;
    background: #fff;
    font-weight: bold;
    height: 100%;
}
.prz_txt {
    background-color: #c8a985;
    display: inline-table;
    text-align: center;
    width: 10.15vw;
    height: 100%;
    line-height: 5.8vh;
    padding-right: 1vw;
}
.prz_txt .confirmContainer { margin-top:0px;}
.prd_des .prd_clr .prd_sze,
.prd_des .prd_clr .prd_qnt {
    float: left;
}
.prd_des .prd_clr .prd_sze h4,
.prd_des .prd_clr .prd_qnt h4 {
    margin: 0px 20px 0px 0px !important;
}
.confirmred {
    background-color: #ec1e2a !important;
    border: #700108 1px solid !important;
}

.changesel:hover {
    color: #ec1e2a !important;
}

.inc {
    float: left;
    cursor: pointer;
    padding: 0.3vw 0.8vw;
    background: #bbb;
    font-weight: bold;
    border: 0.15vw solid #bbb;
    font-size: 1.5vw;
}
.inbx {
   width: 4vw;
    text-align: center;
    color: #4e4e4e;
    border: solid 0.2vw #adadad;
    float: left;
    padding: 0.48vw 1vw;
    margin: 0 1vw;
    font-size: 1.25vw;
    font-weight: bold;
}
.dec {
    float: left;
    cursor: pointer;
    padding: 0.3vw 0.8vw;
    background: #bbb;
    font-weight: bold;
    font-size: 1.5vw;
    border: 0.15vw solid #bbb;
}
.cn_btn {
    color: #fff;
    font-size: 1.25vw;

    text-transform: uppercase;
    display: block;
    cursor: pointer;
    background-image: url("../imagesStore/btn_aro.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 0.8vw;
}
.cn_btn1 {
    color: #fff !important;
  padding: 10px 40px 10px 25px !important;
    font-size: 15px;
    background-color: #c8a985;
  width: 51%;
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
	background-image:url(../imagesStore/btn_aro.png);
	background-repeat:no-repeat; background-position:93% 50%;
	background-size:7px;
}
.cs {     
    font-style: italic;
    font-size: 1vw;
    color: #333;
    padding: 0.2vw 1vw;
    display: inline-block;
}
.idnc {/* width:95%; margin:0 auto;    display: inline-block; width:100%;*/ }
.idnc h2 { padding-bottom:15px; border-bottom:solid 1px #797979; font-size:24px; font-weight:normal; text-transform:uppercase;}
.da { font-weight:normal; padding-bottom: 10px; color: #2e2e2e; border-bottom: solid 1px #e2e2e2;}
.prd_des .prd_clr .cn_btn:hover {
    background-color: transparent; }
.idnc h4 { font-size:20px; margin-top:35px; font-weight:normal;}
.lg_frm { width: 98%;
    margin-top: 25px;
    margin-left: 1%;
    margin-right: 1%;}
.lg_frm label { font-size:14px; text-transform:uppercase; width:200px; font-weight:normal; float:left;}
.lg_frm input { padding:8px 15px; border:solid 1px #cacaca; width:400px; float:left;}
.lg_frm select { padding:9px 15px; border:solid 1px #cacaca; width:400px; float:left;}
.idnc .cn_btn1 { float:right; width: inherit; margin-top:15px;}
.idnc .cn_btn2 { float:left;}
.idnc h5 { font-size:18px; font-weight:normal; margin-bottom:15px;}
.btn-info { padding: 7px 15px !important; background-color:#c8a985; border:none !important;}
.btn-info:hover { background-color:#b48d61; border:none;}
.dvs .form-control{ width:250px !important;}
.adrs { margin:10px 0;}

.add_adrbtn {
    background: transparent;
    color: #533f34;
    font-size: 1em;
    border: 0;
    padding: 9px 20px;
    padding-left: 28px;
    vertical-align: middle;
	width:200px !important;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    padding-left: 27px;
    border: solid 1px #533f34 !important;
    background-image: url(../img/add_brownRegular.png);
    background-repeat: no-repeat;
    padding-right: 0;
    min-height: 13px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

.add_adrbtn:hover { border:solid 1px #cacaca !important;}

.add_adrbtnchangeplan {
    background: transparent;
    color: #533f34;
    font-size: 1em;
    border: 0;
    padding: 9px 20px;
	float:right;
    padding-left: 28px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    border: solid 1px #533f34 !important;
    min-height: 13px;

}

.add_adrbtnchangeplan:hover { border:solid 1px #cacaca !important;}
.plan { float:left; font-size:18px;}
.adb { padding:10px 15px; background-color:#efefef;}




.adpr { width:85px !important; margin-top:20px;}
.opn_adr {    background-color: #e4e4e4;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
	    position: relative;
		margin-bottom:35px;
	}
.chn {
    background: transparent;
    color: #533f34;
    font-size: 1em;
    border: 0;
    padding: 9px 20px;
    padding-left: 28px;
    vertical-align: middle;
	width:120px !important;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    padding-left: 27px;
    border: solid 1px #533f34 !important;
    background-repeat: no-repeat;
    padding-right: 0;
    min-height: 13px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.chn:hover { border:solid 1px #cacaca !important;}
.nt_blk {
	display:inline-block;
	margin-bottom:20px;
    background: #f1f0ec;
    padding: 15px;
	width:100%;
}
.cls {
    height: 25px;
    background: url(../img/close_XL_brownRegular.png) 50% 0;
    background-repeat: no-repeat;
    text-indent: -9999em;
    display: inline-block;
    width: 26px;
	position:absolute;
	right:20px;
}
.nt_blk p { float:left; margin-right:15px;}
.chk { float: left; margin-right:15px;}
.chk input { width:35px !important; float:left;}
.chk label { width:100px; padding:0px; margin:0px;}
.chk1 input { width:25px !important;}
.chk1 label { width:94%; padding:0px; margin:0px;}
.fpw { display:inline-block; width:100%; text-align:right;}
.fpw a {  font-size:12px; text-align:right; color: #bfa69a;}
.shr {  margin-top:10px;}
.shr_btn {
    background: url(../imagesStore/share_icon_grey_24.png) no-repeat;
    background-position: 5px;
        padding: 6px 5px 6px 25px;
	  border: 1px solid #a5a5aa;
    color: #a5a5aa;
    padding: 10px;
    text-align: center;
    padding-left: 30px;
    text-transform: uppercase;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
	float:left;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.phn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    border: 1px solid #ffffff;
    color: #c8a985;
	background-position:0 0;
    line-height: 40px;
    padding-left: 40px;
    min-height: 40px;
    background-image: url(../imagesStore/call_center.png);
    background-repeat: no-repeat;
    padding-right: 0;
}
.cwa { background-color:#ebe8e3; width:100%; min-height:1000px; padding:15px; display:inline-block; font-size:13px; color:#595959; right: -19px;
    top: -40px; position:absolute;}
.cwa h4 { margin-top:20px; margin-bottom:20px;}
.cwa ul { margin-left:20px; margin-top:5px;}
.cwa ul li { list-style:disc;}
.ttl { font-size:18px !important; font-weight:normal !important; color:#c8a985 !important; margin-top:10px !important; margin-bottom:0px !important;}
.cwa .odr_sum h4 { margin-top:0px;}
.lgi {}
.lgi label { width:80px;}
.lgi input { width:300px;}
.resimg {
    width: 100%;
    border: 3px double #ddd;
}
.prd_sip {
    width: 100%;
    padding: 20px 0px;
    display: inline-block;
}
.prd_sip .form-group .col-md-6 { padding: 0px;}
.sip_nav {

    display: inline-block;
    margin-left: 5px;
}
.sip_nav ul {
    margin: 0px;
    padding: 0px;
}
.sip_nav ul li {
    list-style: none;
    float: left;
    margin: 0 20px 0 0px;
}
.sip_nav ul li a {
    color: #919191;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 30px;
}
.sip_nav ul li a:hover {
    color: #313131;
}
.sip_nav ul li a.active {
    color: #313131;
}
.sip_tit {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.sip_tit h2 {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: normal;
    color: #373737;
    font-family: 'PoppinsRegular', Helvetica, sans-serif;
    margin-left: 10px;
}
.sip_lft {
    width: 100%;
}
.sip_lft h4 {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    margin-top: 30px;
}
.sip_lft .sip_blk {
    padding: 15px 0px;
    border-top: solid 1px #dadada;
    display: inline-block;
    width: 100%;
}
.sip_lft .sip_blk p {
    margin-bottom: 0px;
    color: #727272;
}
.sip_lft .sip_blk .ps1 {
    color: #333;
}
.sip_lft .sip_blk .sip_ad {
    width: 90%;
    float: left;
}
.sip_lft .sip_blk .sip_ic {
    width: 10%;
    float: left;
}
.sip_lft .sip_blk .rdo {
    float: right;
    margin-right: 20px;
    width: 30px;
}
.sip_lft .sip_blk .chek {
    width: inherit;
    float: left;
    margin-right: 10px;
}
.add_adr {
    width: 100%;
    margin-top: 20px;
}
.add_adr input {
    padding: 18px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.add_adr select {
    padding: 16px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.add_adr .form-group {
    margin-bottom: 10px;
}
.cp {
    width: 350px !important;
}
.lis {
    display: inline-block !important;
}
.odr_sum {
	width: 290px;
    float: right;
    background-color: #fff;
    padding: 20px;
}

.odr_sum h4 {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #1c1c1c;
}
.odr_sum .row {
    margin-bottom: 10px;
}
.sb_tl {
    border-top: solid 1px #ccc;
    padding: 5px 0;
    font-weight: bold;
}
.pnl_rgt .odr_sum {
	width: 290px;
    float: right;
    background-color: #fff;
    padding: 20px;
}
.pnl_rgt .odr_sum h4 { margin-top:0px;}
.same {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px !important;
}
.paymt {
    margin-bottom: 20px;
}
.plns {
    width: 100%;
    text-align: center;
}
.plns .rg_btn {
    margin-top: 20px;
    color: #fff;
    background-color: #1b1b1b;
    border: none;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 15px 7px 15px !important;
    border-radius: 3px;
    text-transform: uppercase;
}
.plns .rg_btn:hover {
    background-color: #333333;
}
.prs th {
    background-color: transparent !important;
    border: none !important;
    font-size: 16px;
    text-align: center;
}
.ord_mn {
    width: 100%;
    height: 100%;
    float: left;
}
.ord_wrp {
    width: 60%;
    margin: 0 auto;
}
.ord_cnt {
    overflow: hidden;
    margin-top: 2vw;
    background-color: #fff;
    width: 100%;
    border: solid 0.25vw #bbb;
    font-size: 1.25vw;
}
.ord_hed {
    width: 100%;
    height: 80px;
    background-color: #fafafa;
    float: left;
}
.ord_hed .ord_logo {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
}
.ord_hed .ord_logo img {
    width: 100%;
}

.ord_nm h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.ord_nm h4 {
    font-size: 1.7vw;
    font-weight: normal;
    text-align: center;
    color: #229000;
    margin: 1vw 0 2vw 0;
}
.ord_num {
    background-color: #bbb;
    padding: 0.8vw 2vw;
    overflow: hidden;
}
.ord_num .ps {
    float: left;
    font-size: 1.15vw;
    color: #1f1f1f;
}
.ord_num .ps2 {
    float: right;
    font-size: 1.15vw;
    color: #1f1f1f;
}
.ord_det {
    width: 100%;
    padding: 1vw;
    overflow: hidden;
}

.ord_det .ps3 {
        font-weight: bold;
    margin: 0vw 0 2vw 0;
}


.ord_det .ord_rgt h4 {
    font-size: 1.25vw;
    color: #988500;
    font-weight: bold;
    margin-bottom: 2vw;
    line-height: 2vw;
}
.ord_det .ord_rgt .ord_row {
    width: 100%;
    padding: 0.7vw 0;
    border-bottom: solid 0.1vw #bbb;
    overflow: hidden;
}
.ord_det .lft_row {
    width: 60%;
    float: left;
}
.ord_det .rgt_row {
    width: 40%;
    float: right;
}
.ord_adrs {
     width: 100%;
    padding: 1vw 1vw 2vw 1vw;
}
.ord_adrs h4 {
    font-size: 1.25vw;
    font-weight: bold;
}

.ord_adrs .odr_ldr {
    float: left;
    width: 200px;
}
.ord_adrs .odr_rdr {
    float: right;
    width: 200px;
}
.ord_ftr {
    width: 100%;
    float: left;
    height: 20px;
    text-align: center;
    display: inline-table;
}
.ord_ftr p {
    font-size: 13px;
    margin: 10px 0 10px 0;
}
.ord_ftr p a {
    color: #ec4100;
    text-decoration: none;
}
.ord_hed .sip_tit {
    margin-top: 10px;
    text-align: center;
}
.selectcor {
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.ccdata {
    padding: 18px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.changesel {
    background-color: transparent !important;
}
.event {
    background-color: #aaa;
    margin-top: 0px;
    height: 100%;
    position: fixed;
    overflow-y:scroll;
    min-height: 300px !important;
    width: 100%;
    background-image:url(../img/store_bg.jpg); 
    background-repeat:repeat;
}
.evt_img {
    width: 46%;
    float: left;
    display: block;
    margin-left: 7%;
}
.evt_img img {
    width: 100%;
}
.evt_cn {
    width: 36%;
    text-align: center;
    float: right;
    margin-right: 11%;
    margin-top: 13%;
    margin-bottom: 100px;
}
.evt_cn a { color: #fff;}
.evt_join {
    padding: 10px 33px;
    text-transform: uppercase;
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
    color: #282828;
    font-weight: bold;
    background-color: transparent;
    margin-top: 90px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    -webkit-border-radius: 5px;
    BORDER: solid 3px #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.evt_join:hover {
    background-color: #000;
}
.evt_blk {
    width: 350px;
    display: inline-block;
    background-color: #676767;
    border-radius: 5px;
    padding: 25px 30px;
    color: #fff;
}
.evt_blk h4 {
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #fff;
}
.evt_blk h4 .tic {
    font-size: 30px;
    line-height: 36px;
}
.evt_blk h2 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin: 0 0 26px 0;
    line-height: 20px;
    text-transform: capitalize;
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
}
.evt_blk h2 span {
    font-size: 24px;
}
.evt_blk input,
.evt_blk select {
    float: left;
    background-color: transparent;
    border: solid 1px #333;
    padding: 9px 15px;
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
}
.evt_blk input,
.evt_blk select option {
    background-color: #666;
}
.fmw {
    display: inline-block;
}
.bgblack {
	background: #000 !important;
}
.txtwhite{
	color:#fff !important;
}

.evt_blk label {
    float: left;
    font-weight: normal;
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
}
.smt {
    background-color: #333333;
    font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;
    border: solid 1px #111;
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.smt:hover {
    background-color: #222;
}



.backtoc {
     cursor: pointer;
    margin: 10px 0px 0px 0px;
    color: #111;
  
    display: inline-block;
    text-align: right;
    font-style: italic;
    width: 100%;
    font-size: 12px;
}


.prt_ord {  font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;}
.prt_hed { width:100%; background-color:#3f3f3f; display:inline-block; padding:15px 20px; margin-top:40px;}
.prt_h4 { font-size:14px; color:#fff; float:left;}
.prt_h4 .plcon { color:#d8d8d8;}
.prt_h2 { font-size:20px; color:#fff; float:right; text-transform:capitalize; line-height:32px;  font-family: 'PoetsenOne-Regular', Helvetica, sans-serif; font-weight:normal;}
.prt_h2 .ordi { color:#d9d9d9; font-size:16px;}
.prt_cn { width:100%; background-color:#f6f6f6; padding:20px; display: inline-block; border-bottom:solid 3px #3f3f3f;}
.prt_blk { width:100%; margin-bottom:30px;     display: inline-block;}
.prt_lft { float:left; width:30%;}
.prt_lft img { width:100%;}
.prt_rgt { float:right; width:60%;}
.prt_txt {  margin-bottom:2px; padding:15px 20px; background-color:#fff; border-radius:10px; border:solid 1px #e9e9e9;}
.prt_txt h4 { font-size:18px; color:#1b1b1b; font-weight:normal; margin:0px;}
.prt_txt h4 .gues { font-size:26px; float: right; line-height: 16px;}
.prk_txt2 { width:150px; margin-right:38px;}
.prt { font-size:16px; color:#1b1b1b;  margin-bottom:5px; font-weight:normal; margin-top:0px;}
.prt span { font-size:14px; color:#555454;}
.prt_blk p { font-size:13px; color:#1b1b1b; max-width: 400px;  font-family: 'PoppinsRegular', Helvetica, sans-serif;}
.prt_ftr { width:70%;}
.prt_ftr2 { width:22%;}
.prt_mo { margin-bottom:0px;}




.conti {
	width: 230px;
    margin: 20px auto;
    padding: 15px 20px !important;
}
.backto {     color: #fff;
    text-align: center;
    }
}
.changesel { background-color: transparent;; padding: 0px;}


/* Responsive */


.prd_tmb ul,.sip_nav ul,.prd_acc section ul,.prd_acc .col-md-10,.col-md-2,.col-md-5 {
margin:0;
padding:0;
}

.prd_des .prd_clr .prd_cr .black,.evt_join:hover,.img_tit:hover {
background-color:#000;
}

.cn_btn:hover,.plns .rg_btn:hover {
background-color:#333;
}

.sip_nav ul li a:hover,.sip_nav ul li a.active {
color:#313131;
}

.add_adr input,.frm .form-control {
width:100%;
border:solid 1px #cacaca;
color:#3b3b3b;
padding:10px 15px;
box-shadow: none !important;
}

.paymt,.gal {
margin-bottom:30px;
}

.ptnd,.eright a {
color:#000;
}
#paymentButton { float: left;}
.backto { padding: 14px 45px !important; background-color: #ff0000; margin-top: 10px;  border-radius: 3px;}

.backto:hover {
    color:#fff !important;
}

@media (min-width:768px) and (max-width:1030px) {
.prd_wrp {
width:725px;
}


.prd_logo {
margin:17px 0 0 50px;
}

.prd_pdt {
width:32%;
margin-bottom:50px;
}

.ord_wrp {
width:95%;
}

.prd_des {
width:260px;
float:right;
margin-top:0;
margin-right:20px;
}

.prd_viw {
width:300px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:55%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
}

.evt_join {
font-size:25px;
margin-left:40px;
}

.add_adr select {
margin-bottom:20px;
}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 303px;
    margin: 10px 0 0 0;
    border-radius: 3px;
    float: right;
}


.add_adr .col-md-6 {
    padding: 0px !important;
}
.bitdash-ctrl { display: none !important;;}
#volwrapper { display: none !important;}
.pln_blk3 .pln_cn p {     font-size: 17px;}
.pln_cn .month { margin-top: 0px;}
}
@media (min-width:480px) and (max-width:767px) {
.prd_wrp {
width:457px;
}
.alnright {
    text-align: left;
}

.prd_pdt {
width:49%;
}

.prd_logo {
margin:17px 0 0 20px;
}
.logout { margin-right: 20px;}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}
.shopnowhome { right: 26%; margin-top: 69px;}
.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ord_lft img {
width:180px;
}

.ord_det .ord_lft {
width:45%;
}

.ord_det .ord_rgt {
width:55%;
}

.prd_des {
float:right;
width:90%;
margin-top:50px;
margin-right:5%;
}

.prd_viw {
width:360px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:-20px;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:456px;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel {  background-color: transparent; padding: 0;}
.add_adr .col-md-6 {
    padding: 0px !important;
}
.speedbuy { margin: 0 auto; margin-top:70px; text-align: center; display: none; }
.bitdash-ctrl { display: none !important;;}
#volwrapper { display: none !important;}
    .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
    .pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
}

@media (min-width:375px) and (max-width:479px){
.prd_wrp {
width:351px;
}
.alnright {
    text-align: left;
}

.prd_logo {
margin:17px 0 0 20px;
}
.logout { margin-right: 20px;}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}

.prd_des {
float:right;
width:90%;
margin-top:30px;
margin-right:5%;
}

.prd_viw {
width:260px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:355px;
}

.prd_acc .col-md-10 {
width:70%;
float:left;
}

.prd_acc .col-md-2 {
width:30%;
float:left;
}

.prt_hed {
padding:15px 10px;
}

.prt_txt {
width:175px;
padding:10px 18px;
}

.prk_txt2 {
margin-right:0;
}

.prt_txt h4 span {
font-size:14px;
}

.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}

.ord_adrs h3,.prt_h2 {
font-size:14px;
}
.backto {
    color: #fff;
    text-align: center;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel { background-color: transparent; padding: 0px;}
.prt_txt h4 { font-size: 13px;}
.add_adr .col-md-6 {
    padding: 0px !important;
}
.shopnowhome { left: 14%; margin-top: 80px;}
.bitdash-ctrl { display: none !important;;}
#volwrapper { display: none !important;}
    .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
    .pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
}

@media (min-width:360px) and (max-width:374px) {
.prd_wrp {
width:335px;
}

.alnright {
    text-align: left;
}

.prd_logo {
margin:17px 0 0 20px;
}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}

.ord_ftr p {
line-height:18px;
}

.prd_viw {
width:245px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
}

.prd_des {
width:90%;
margin-top:30px;
margin-right:5%;
}

.prd_des h2 {
font-size:18px;
margin:0 0 10px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:330px;
}

.prd_acc .col-md-10 {
width:70%;
float:left;
}

.prd_acc .col-md-2 {
width:30%;
float:left;
}

.prt_hed {
padding:15px 10px;
}

.prt_txt {
width:175px;
padding:10px 18px;
    margin-bottom: 2px;
}

.prk_txt2 {
margin-right:0;
}



.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2,.prt_h4 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}

.ord_adrs h3,.prt_h2 {
font-size:14px;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel {  background-color: transparent;
    padding: 0;}
    .add_adr .col-md-6 {
    padding: 0px !important;
}
.logout { margin-right: 20px; }
.bitdash-ctrl { display: none !important;;}
#volwrapper { display: none !important;}
.pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
}

@media (min-width:320px) and (max-width:359px){
.prd_wrp {
width:297px;
}
.alnright {
    text-align: left;
}

.prd_logo {
margin:17px 0 0 20px;
}

.prd_login input {
font-size:12px;
width:auto!important;
border:none;
padding:5px 10px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}

.ord_adrs h3 {
font-size:14px;
}

.ord_ftr p {
line-height:18px;
}

.prd_viw {
width:225px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
    display: inline-block;
}
.evt_blk input, .evt_blk select { padding: 9px 10px;}
.evt_blk h2 span { font-size: 21px;}
.prd_tmb {
width:45px;
margin-left: 5px;
}

.prd_des {
width:90%;
margin-top:10px;
margin-right:5%;
}

.prd_des h2 {
font-size:18px;
margin:0 0 10px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.sip_nav ul li a {
font-size:11px;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:280px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:300px;
}

.prd_acc .col-md-10 {
width:80%;
float:left;
}

.prd_acc .col-md-2 {
width:20%;
float:left;
}

.prt_hed {
padding:15px 10px;
}


.prt_txt {
width:150px;
padding:10px 8px;
margin-bottom: 2px;
}

.prk_txt2 {
margin-right:0;
}

.prt_txt h4 span {
font-size:13px;
}

.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2,.prt_h2 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}
#payment-form .lis { width: 145px !important;}
#paymentButton { width: 100% !important;}
.sip_lft .backto { padding: 14px 45px !important; margin: 10px 0 0 0; background-color: #ff0000; color: #fff !important;
    font-size: 16px; width: 100%;}
    .add_adr .col-md-6 {
    padding: 0px !important;
}
.changesel { padding: 0 !important; background-color: transparent;}
.logout { margin-right: 20px;}
.bitdash-ctrl { display: none !important;;}
#volwrapper { display: none !important;}
.pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
}
@media (min-width:600px) and (max-width:700px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}

}

@media (min-width:800px) and (max-width:870px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}
.speedbuy { margin-top: 35px; padding: 10px 10px !important;  display: block;   margin: 0 auto; margin-top: 32px; text-align: center;}

}

@media (min-width:550px) and (max-width:600px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}

#sbdesc { height: auto;}
.logo { clear: none;}
.shopnowhome { right: 30;}
}


#myid li{
    float: left;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#myid li:hover{ 
    background: #ddd;

}
.shop_active {
    background: #ddd;
}

.loaderbg {
    background: #ddd;
    background-image: url(../imagesStore/logo_preloader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

.lg_frm label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.npop { }
.npop .modal-header { background-color:#f5f5f5; border:none;}
.npop .modal-title { font-size:20px;     text-transform: uppercase; line-height: 30px;}
.npop .frm .form-group {     margin-right: 1%; width: 48%;  margin-left: 1%;}
.npop .modal-footer { padding-top:0px; border:none;}
.npop .modal-body { padding-bottom:0px;}
.npop h2 { margin-left:1%;}
.npop .form-control {     padding: 8px 15px !important;  border: solid 1px #cacaca !important;}
.npop .btnreal { 
    color: #fff !important;
    padding: 10px 25px !important;
    font-size: 15px;
    background-color: #c8a985;
    width: 100px;
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    background-image: url(../imagesStore/btn_aro.png);
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 7px;
 margin-left:2%;
}


.viw { width:18px; height:18px; float:right; margin-left:15px; background-image:url(../imagesStore/icons.png); background-repeat:no-repeat; background-position:0 0; cursor:pointer;}
.viw:hover { opacity:0.75;}
.edt { width:17px; height:16px; margin-top:2px; float:right; margin-left:15px; background-image:url(../imagesStore/icons.png); background-repeat:no-repeat; background-position:-29px -1px; cursor:pointer;}
.edt:hover { opacity:0.75;}
.rmv { width:14px; height:18px; float:right; margin-left:15px; background-image:url(../imagesStore/icons.png); background-repeat:no-repeat; background-position:-58px 0; cursor:pointer;}
.rmv:hover { opacity:0.75;}