@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('./fonts/Poetsen/PoetsenOne-Regular.eot');
    src: url('./fonts/Poetsen/PoetsenOne-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Poetsen/PoetsenOne-Regular.woff') format('woff'), url('./fonts/Poetsen/PoetsenOne-Regular.ttf') format('truetype'), url('./fonts/Poetsen/PoetsenOne-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('./fonts/opensans/OpenSansRegular.eot');
    src: url('./fonts/opensans/OpenSansRegular.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans/OpenSansRegular.woff') format('woff'), url('./fonts/opensans/OpenSansRegular.ttf') format('truetype'), url('./fonts/opensans/OpenSansRegular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('./fonts/opensans/OpenSansBold.eot');
    src: url('./fonts/opensans/OpenSansBold.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans/OpenSansBold.woff') format('woff'), url('./fonts/opensans/OpenSansBold.ttf') format('truetype'), url('./fonts/opensans/OpenSansBold.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsBold';
    src: url('./fonts/Poppins/Poppins.eot');
    src: url('./fonts/Poppins/Poppins.eot?#iefix') format('embedded-opentype'), url('./fonts/Poppins/Poppins.woff') format('woff'), url('./fonts/Poppins/OPoppins.ttf') format('truetype'), url('./fonts/Poppins/OPoppins.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsLight';
    src: url('./fonts/PoppinsLight/Poppins-Light.eot');
    src: url('./fonts/PoppinsLight/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/PoppinsLight/Poppins-Light.woff') format('woff'), url('./fonts/PoppinsLight/Poppins-Light.ttf') format('truetype'), url('./fonts/PoppinsLight/Poppins-Light.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('./fonts/PoppinsRegular/Poppins-Regular.eot');
    src: url('./fonts/PoppinsRegular/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/PoppinsRegular/Poppins-Regular.woff') format('woff'), url('./fonts/PoppinsRegular/Poppins-Regular.ttf') format('truetype'), url('./fonts/PoppinsRegular/Poppins-Regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'PoppinsRegular', Helvetica, sans-serif;
}

h2 {
    padding: 0;
}
h3 {
    padding: 75px 0 0 0 !important;
    margin: 0 !important;
    color: #000;
}
p {
    margin: 0;
    padding: 0;
}
::selection {
    background: #ab2eba;
    color: #fff;
}
.bld {
    font-family: 'PoppinsBold', Helvetica, Sans-serif;
    font-weight: bold;
    font-size: 32px !important;
}
.sidemenucont {
    width: 20%;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1b1b1b;
    transition: all .2s ease;
    z-index: 999;
}
.slidenav {
    transform: translate3d(-100%, 0, 0);
}
.nav-togglebtn {
    display: block;
    position: absolute;
    left: 100%;
    text-decoration: none;
    text-align: center;
    color: #ddd;
    font-size: 1.5em;
    padding: 28px;
    background: rgba(27, 27, 27, 0.2);
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 1px;
}
/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -1px);
}
.sidemenu {
    height: 100vh;
    background-color: #1b1b1b;
    display: block;
}

.menuitems {
    margin: 25px;
    border-bottom: solid #2e2e2e 1px;
}
.menuitems li {
    list-style-type: none;
    margin: 0;
    margin: 20px 10px;
    text-align: center;
}
.menuitems::after {
    content: "";
    background-image: url('');
}
.menuitems li a {
    color: #c7c7c7;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-family: 'PoppinsBold', Helvetica, Sans-serif;
    font-size: 16px;
    transition: all 0.2s ease-out;
    transform-origin: center;
}
.menuitems li a:hover {
    color: #666;
    transform: scale(1.4);
}
.loginbtn {
    display: block;
    text-align: center;
    color: #999;
    font-size: 24px;
    font-family: 'PoppinsBold';
    transition: all ease-out 0.2s;
    text-decoration: none;
}
.loginbtn:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    transform: scale(0.9);
}
.socialIcons {
    margin-top: 36px;
    text-align: center;
    overflow: hidden;
}
.socialbtn {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all ease-out 0.2s;
    margin: 10px;
    padding: 10px;
}
.socialbtn:hover {
    transform: scale(1.2);
}
.fb {
    background-image: url('../img/facebook.svg');
}
.twitter {
    background-image: url('../img/twitter.svg');
}
.insta {
    background-image: url('../img/insta.svg');
}
.youtube {
    background-image: url('../img/youtube.svg');
}
.MainCont {
    width: 80%;
    height: auto !important;
    min-height: 100vh;
    /*background-color:#990033;*/
    
    float: right;
    box-sizing: border-box;
}
.topBanner {
    width: 100%;
    height: 640px;
}
#about {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 80px 20px 20px 20px;
    color: #4e4e4e;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    text-align: justify;
}
.abtHead {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    letter-spacing: -5px;
    margin-top: 0;
    padding-bottom: 15px;
    color: #000 !important;
    font-size: 50px;
}
.headingCont {
    width: 100%;
    text-align: left;
}
.abttxt {
    width: 80%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left !important;
}
.abtimg {
    margin: 0 20px 20px 0;
    float:left;
}
#social,
#photos {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 75px;
    text-align: center;
}
#videos {
    background: #eee;
}
#tour {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 75px;
    text-align: center;
}
#videos {
    width: 100%;
    color: #666;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 75px;
    text-align: center;
    background-color: #eaeaea;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
}
#store {
    background-image: url('../img/DemStoreBg.png');
    width: 100%;
    height: 670px;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 75px;
    background-color: #000;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
}
.storeCont {
    width: 100%;
    height: 620px;
    padding-left: 41%;
    padding-top: 49px;
}
.storeCont h1 {
    font-size: 50px;
    letter-spacing: -4px;
    color: #fff;
}
.storeCont p {
    font-size: 32px;
    color: #a0a0a0;
    line-height: 40px;
}
.storeBtn {
    width: 200px;
    height: 204px;
    float: left;
    background-color: #333;
    border: 1px solid #5c5c5c;
    margin: 20px 20px 20px 0;
    transition: all ease-out 0.2s;
    text-align: center;
}
.storeBtn p {
    color: #fff;
    font-family: poppinsBold;
    font-size: 24px;
}
.storeBtn:hover {
    transform: scale(1.1);
    text-decoration: none;
    background-color: #666;
}
#videos h1 {
    color: #333;
    letter-spacing: -5px;
    margin: 7px auto 28px auto;
    font-size: 50px;
}
/*.socialPic{ width:305px; height: 353px; float: left; margin:10px; background-size: 100%; background-position: 50% 50%; background-repeat: no-repeat; }
.pic1{ background-image: url('../img/social_pic1.jpg');}
.pic2{ background-image: url('../img/social_pic2.jpg');}
.pic3{ background-image: url('../img/social_pic3.jpg');}*/

#videos::-webkit-scrollbar {
    width: 0 !important
}
#videos {
    -ms-overflow-style: none;
}
#videos {
    -moz-appearance: menuimage;
}
.vid_ht {
    height: 315px;
    margin-bottom: 20px;
}
.videosimg {
    position: absolute;
}
.videosimg_overlay {
    position: absolute;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.0);
    transition: all ease-out 0.2s;
}
.videosimg_overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.captiontxt {
    font-size: 22px;
    margin: 20px auto;
}
.viewmorebtn {
    width: 230px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #aeaeae;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    text-decoration: none;
    margin: 6px;
    font-size: 16px;
    line-height: 50px;
    transition: all ease-out 0.2s;
}
.viewmorebtn:hover {
    text-decoration: none;
    color: #888;
    transform: scale(1.1);
    border-color: #666;
}
.viewmorebtn_videos {
    color: #888 !important;
}
.hovertxt {
    font-size: 18px !important;
    display: block;
}
.marginRt {
    margin-right: 20px;
}
.marginBt {
    margin-bottom: 20px;
}
.inst-mark {
    position: absolute;
    color: #fff;
    font-size: 38px;
    top: 0px;
    right: 30px;
    z-index: 9;
}
.myAcc {
    font-size: 16px !important;
    color: #fff;
}
.lslidee {
    cursor: pointer;
}

.preloaderContDescribe {
    width: 5%;
    height: 5%;
    position: fixed;
    top: 47.5%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 44.5%;
    z-index: 99999999;
}

.preloader_logo {
    width: 80px;
    height: 80px;
    position: absolute;
    margin: 10px 10px;
}

.preloader3 {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 6px solid;
    position: absolute;
    border-top-color: rgba(0,0,0, 0.8);
    border-bottom-color: rgba(0,0,0, 0.8);
    border-left-color: rgba(244,67,53, 1);
    border-right-color: rgba(244,67,53, 1);
    -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
    animation: preloader3 0.8s ease-in-out infinite alternate;
}
/*IMAGE HOVER EFFECTS */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    font-size: 2em;
    padding-top: 25%;
    text-align: center;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}
.hovereffect .overlay2 {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    font-size: 2em;
    padding-top: 10%;
    text-align: center;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}
.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    color: #fff;
}
.hovereffect:hover .overlay2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.hovereffect:hover img {
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
    -moz-filter: brightness(0.3);
}
.hovereffect a,
.hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}
.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-decoration: none;
    color: #fff;
}
#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #aeaeae;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 99999;
}
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff
}
#scroll:hover {
    background-color: #eaeaea;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
.modal-open {
    overflow: inherit !important;
}


/*------Tab--------*/

@media (min-width:768px)and (max-width:1169px) {
  .sidemenucont{ display:none;}
  .smallMenu{ display: block;}
  .MainCont{ width:100%;}
  .topBanner{ height: 446px;}
  #about{ margin-top: 15px;}
  #social{ margin-top: 15px;}
  .abtHead{ padding-bottom: 0; font-size:42px;}
  #tour{ margin-top:15px;}
  #videos{ margin-top:15px; height: 537px;}
  #photos{ margin-top:15px;}
  #store{ height:348px; margin-top:15px; background-position: 0% 100%; background-size: 89%;}

  .storeCont{ padding-left: 150px ; padding-top: 0; }
  .storeCont h1{ margin-top:0; font-size: 35px; letter-spacing: 0;}
  #store p { font-size: 21px;
    color: #ffffff;
    line-height: 29px;}

    .storeBtn{width: 125px;
    height: 128px; }
  }
  
/*------Mobile--------*/


@media (min-width:376px)and (max-width:767px) {

  .sidemenucont{ display:none;}
  .smallMenu{ display: block;}
  .MainCont{ width:100%;}
  .topBanner{ height: 300px;}
  #about{ margin-top: 15px;}
  #social{ margin-top: 15px;}
  .abtHead{ padding-bottom: 0; font-size:42px;}
  #tour{ margin-top:15px;}
  #videos{ margin-top:15px; min-height: 537px; height: auto;}
  #photos{ margin-top:15px;}
  #store{ height:385px; margin-top:15px; background-position: 0% 100%; background-size: 103%; padding: 10px;}

  .storeCont{ padding-left: 150px ; padding-top: 0; }
  .storeCont h1{ margin-top:0; font-size: 35px; letter-spacing: 0;}
  #store p { font-size: 21px; color: #ffffff; line-height: 29px;}
  h1 { text-align: center;}
  .storeBtn{width: 125px; height: 128px; }
  #store h1{ text-align: left !important; background-size: 127%;}
  .storeCont a { margin-top: 5px;}

  }

/*------Mini-Mobile--------*/

@media (min-width:321px)and (max-width:375px) {

  .sidemenucont{ display:none;}
  .smallMenu{ display: block;}
  .MainCont{ width:100%;}
  .topBanner{ height: 213px;}
#about{ margin-top: 15px;}
  #social{ margin-top: 15px;}
  .abtHead{ padding-bottom: 0; font-size:42px;}
  #tour{ margin-top:15px;}
  #videos{ margin-top:15px; min-height: 537px; height: auto;}
  #photos{ margin-top:15px;}
h1{ text-align: center;}
#store{ height:882px; margin-top:15px; background-position: 0% 100%; background-size: 103%; padding: 10px; background-image:none;}
.storeCont{ padding-top:15px; text-align: center; padding-left: 0;}
.storeCont a { display: inline-block; float: none;}
 }


 @media (min-width:300px)and (max-width:320px) {
.sidemenucont{ display:none;}
  .smallMenu{ display: block;}
  .MainCont{ width:100%;}
  .topBanner{ height: 213px;}
  #store{ height:882px; margin-top:15px; background-position: 0% 100%; background-size: 103%; padding: 10px; background-image:none;}
.storeCont{ padding-top:15px; text-align: center; padding-left: 0;}
.storeCont a { display: inline-block; float: none;}
h1{ text-align: center; margin-bottom: 5px;}
 }