
@font-face {
	
    font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#open_sansregular') format('svg');		 
	font-weight: normal;
    font-style: normal;
}

body { padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-family: 'OpenSansRegular';}
* {box-sizing: border-box;}
.adr_block { width:100%; height:100%; float:left; background-color:#fff;}
.adr_logo { width:150px; margin:0 auto; padding-top:30px;}
.adr_logo img { width:100%;}
.adr_blk { width:700px; margin:0 auto; text-align:center;}
.adr_blk h2 {     font-weight: normal;  font-size: 28px; margin:40px 0 30px 0;}
.adr_wrp { width:100%;     
     margin: 0px 0px 3vh 0px;
    padding: 1vw 2vw;
    background-color: #ededed;
    height: 22vh; }
.adr_wrp p { margin-bottom:5px; margin-top:0px;}
.adr_wrp h3 { font-size:1.35vw; color:#c78a42; text-transform:uppercase;  margin-bottom:1vw !important; padding:0px !important;}
.adr_wrp_act { background-repeat:repeat-x; border:solid 3px #d7c0a5; -webkit-box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75); -moz-box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75); box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75);}
.adr_txt { text-align:center; width:1000px !important; margin-top:20px; margin-left:35px;}
.adr_txt h3 { font-size:24px; color:#292929; margin-bottom:5px;font-weight: bold;}
.adr_txt p { font-size:17px; color:#292929; line-height:24px; margin-top:10px;margin-bottom: 2px;}

.adr_cn { margin: 2vw auto 0 auto; text-align:center;}
.adrr_btn { 
    color: #fff;
    font-size: 1.25vw;
    background-color: #c8a985;
    padding: 0.5vw 3vw 0.5vw 1vw;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-align: left;
    background-image: url(../imagesStore/btn_aro.png);
    background-repeat: no-repeat;
    background-position: center right 5%;
    background-size: 0.7vw;
    transition: all 0.2s ease-out;
}

.adrr_btnact { background-color:#c8a985; transform:scale(0.9);   border:solid 3px #b59167 !important; -webkit-box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75); -moz-box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75); box-shadow: 1px 1px 10px 3px rgba(202,168,128,0.75);}
.adr_sip { width:300px; float:left; }
.adr_bil { width:300px; float:right; }

