@charset "utf-8";
/* CSS Document */

.transBg{ width:100vw; height:100vh; position:fixed; background-color:rgba(0,0,0,0.6); top:0; left:0;  }

.Catwrapper{     width: 99%;
    height: 300px;
    margin: 15% auto;
    
    text-align: center;
}

.categoryList{ list-style:none; display:inline-block !important; margin:0 0 0 -45px; }

.categoryList li{ float:left;  margin:28px;}

.categoriesDiv{ width:180px; height:80px; border-radius:10px; background-color:rgba(255,255,255, 0.9); text-align:center; line-height:80px; font-family: 'opensansregular',Arial, Helvetica, sans-serif; font-size:20px; color: #000; font-weight:bold; transition: all 0.2s ease-out; }
.categoriesDiv:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.categoriesDiv_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }

.searchImg{  width:180px; height:80px; transition: all 0.2s ease-out; }
.searchImg:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.searchImg_active{
 -webkit-filter: drop-shadow(0px 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }	


.userImg{  width:180px; height:80px; transition: all 0.2s ease-out;}
.userImg:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.userImg_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }

.settings{  width:180px; height:80px; transition: all 0.2s ease-out; }
.settings:hover{
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.settings_active{
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }		

.listDesc{ font-family:'opensansregular',Arial, Helvetica, sans-serif; font-size:18px; color: #fff; font-weight:bold;}

.exit{ width:180px; height:80px; border:1px solid #fff; padding: 3px; border-radius:10px; background-color:rgba(255,255,255, 0.2); text-align:center; line-height:32px; font-family: 'opensansregular',Arial, Helvetica, sans-serif; font-size:16px; color: #fff; font-weight:bold; transition: all 0.2s ease-out; }
.exit:hover{ transform: scale(1.2);
 -webkit-filter: drop-shadow(3px 5px 8px rgba(30,302,222,.9));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }
.exit_active{ 
 -webkit-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-moz-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-ms-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		-o-filter: drop-shadow(0 1px 5px rgba(255,255,255,.5));
		filter: drop-shadow(0 1px 5px rgba(255,255,255,.5)); }		