@charset "utf-8";
/* CSS Document */

.episodes_cont{ width:50%; height:100vh; border:solid 5px #fff; z-index:10000; overflow:hidden;   padding:50px 0 0 20px;}

.episodes_cont ul { list-style:none ;padding:0;}

.epi_video_cont{ width:100%; height:200px; /*border:solid 1px #fff;*/float:left; margin:10px 0;}

.epi_desc{  /*border:solid 1px #fff;*/ position:absolute; /*width:100px; */height:50px; margin-top:93px; text-align:center; line-height:50px; }

.epi_desc h3{font-family:'open_sansbold', sans serif; font-size:26px; color:#fff; font-weight:bold;}

.epi_video{ width:347px; height:196px; float:left; border:#444 solid 1px;}
.epi_video:hover{ outline:#fff solid 5px; outline-offset:-5px}
.epi_video img{width: 100%;}
.episodes_cont h4{font-family:'open_sansbold', sans serif; font-size:24px; color:#fff; margin:10px; float:left; width:50%}

.episodes_cont p{ font-family:'open_sansregular', sans serif; font-size:16px; color:#fff; margin:10px; line-height:20px; float:left; width:50%; font-weight:600; }

.episodes_cont i{ font-family:'open_sansregular', sans serif; font-size:16px; color:#CCC; margin:5px; line-height:20px; float:left; font-weight:600  }
.episodeTopMargin{margin-top: 30px}