video {
  cursor:pointer;
}
video::-webkit-media-controls-enclosure {
  display: inline-block;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}
.video-js.vjs-playing .vjs-tech {
  pointer-events: none;
}

#page-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  top: 0;
  left: 0;
}
#video-container {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
#video-container #video-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #000;
  opacity: 0.9;
  z-index: 2147483647;
}
#video-controls .controls {
  padding: 0;
}
#video-controls .controls .clearfix {
  clear: both;
}

#video-controls .controls .time {
  color: #777;
  font-family: Arial;
  float: left;
  font-size: 11px;
  line-height: 40px;
  vertical-align: middle;
  margin: 0 10px;
}
#video-controls .controls .time .current {
  color: #FFF;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background-color: #FFF;
  height: 6px;
  margin: 0;
  cursor:pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 8px;
  background: #fe4952;
  border-radius: 0px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  height: 6px;
  width: 8px;
  background: #fe4952;
  border-radius: 0px;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  height: 6px;
  width: 8px;
  background: #fe4952;
  border-radius: 0px;
  cursor: pointer;
}
.seek-bar-wrapper {
  height: 6px;
}
input#seek-bar {
  position: absolute;
  top: 0;
}
button:hover {
  cursor: pointer;
}
button.text {
  outline: none;
  border: none;
  color: #FFF;
  background-color: transparent;
  font-size: 11px;
  line-height: 20px;
  padding: 11px 10px 4px;
  display: inline-block;
}
button.text:hover {
  color: #FFF;
}
button.icon {
  outline: none;
  border: none;
  color: #FFF;
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px 8px;
  display: inline-block;
}
button.icon:hover {
  background-color: #fff;
  color: #000;
}
button.play {
  float: left;
}
button.mute {
  float: left;
  text-align: right;
  width: 60px;
}
input#volume-bar {
  float: left;
  margin-top: 18px;
  width: 60px;
}
button#lights {
  float: right;
}
button.full-screen {
  float: right;
}