@charset "utf-8";
/* CSS Document */




.VEgradient{ 
	width: 100%;
    height: 100vh;
    min-height: 410px;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 70%,rgba(0,0,0,0.005) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 70%,rgba(0,0,0,0.005) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.8) 70%,rgba(0,0,0,0.005) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    position: absolute;
	z-index:1;
	}
.abspos{ position:absolute; z-index:99;}
	

.VElftsec{ position:absolute; z-index:2; margin:30px; }

.VEbackbtn{ background-image: url(../images/back.svg);
    position: absolute;
    z-index: 9;
    width: 295px;
    font-weight: bold;
    background-repeat: no-repeat;
    height: 90px;
    margin: 30px;
    font-size: 26px;
    line-height: 50px;
    background-position: 0% 49%;
    padding: 20px 0 20px 50px;
    transition: all ease-out 0.2s;
    
    background-size: 14%;}

/*.VEbackbtn:hover{ transform:scale(1.1); text-decoration:none;}*/

.VEbackbtn_act{ transform:scale(1.1); text-decoration:none;}



.VEplaybtn{     height: 45px;
    line-height: 40px;
    /*background-color: #ff3333;*/
    display: block;
    text-align: center;
    color: #fff;
    float: left;
    border: 1px solid #F33;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background-image: url(../images/playIcon.svg);
    background-repeat: no-repeat;
    background-position: 17% 46%;
    background-size: 12%;
    width: 130px;
    font-size: 24px;}

.VElistbtn{ height: 45px;
    display: block;
    text-align: center;
    color: #fff;
    float: left;
    border: 1px solid #F33;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 17% 46%;
    background-size: 12%;
    width: auto;
    padding: 5px 20px;
    border: 1px solid #fff;
    font-size: 24px;}
.VElistbtn:hover{ text-decoration:none; background-color:rgba(255,255,255,0.5);} 



.VEplaybtn_active{background-color:#ec1d18; text-decoration:none;}

.VEDescription{ color:#fff; font-size:18px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

.VEwrapper{ width:100%; height:100vh;  position:relative;}

.VEbgimage{ width:100%; height:100vh; background-image:url('../images/1moviebg.png'); background-repeat:no-repeat; background-size:cover; position:absolute; z-index:0;}

.VEmovdescWrap{ width: 50%;
    position: absolute;
    left: 0;
    height: auto;
    bottom: 10%;
    z-index: 999; padding-left:75px; padding-right:30px; overflow:hidden; padding-bottom:60px;}
	
.movtitle{ text-align:left;}
.VEmovfeat{ color:#aaa; font-weight:bold; margin-top:15px; font-size:24px; margin-bottom:20px;}
.sep{ margin-left:20px !important;}

.mov_alttxt{ color:#fff; font-size:36px; font-weight:bolder; margin-bottom:10px;margin-left: 0 !important }

.VEMovieDesc{ font-family: 'open_sansregular', sans-serif;
    color: #aaa;
    font-size: 24px;
    line-height: normal; }
	
.VEclock{ border:1px solid #aaa; padding:5px; margin-left:5px;}

.white{ color:#fff !important;}

.VEstarrating{  padding:0; margin:0;}

.VEstarrating li{ list-style:none; float:left; margin:2px;}

.VEstarrating::after{ clear:both;}

@media (min-width:768px)and (max-width:1169px) {

.VEbgimage{ background-position:50% 50%;}
.VEmovdescWrap{ width:70%;}
}

@media (min-width:376px)and (max-width:767px) {

.VEmovdescWrap{ width:100%; padding-left:30px;}
.VEbgimage{ background-position:50% 50%;}
.VEbgimage{ background-position:50% 50%;}

}

@media (min-width:321px)and (max-width:375px) {

.VEmovdescWrap{ width:100%;  padding-left:10px;}
.VEbgimage{ background-position:50% 50%;}
.VEbackbtn{ padding-left:40px;}
}


@media (min-width:300px)and (max-width:320px) {
.VEmovdescWrap{ width:100%; padding-left:10px; padding-bottom:30px;  }
.VEbgimage{ background-position:50% 50%;}
.VEbackbtn{ padding-left:40px; margin-top:20px; margin-left:10px;}
.VElistbtn{ margin-right:5px;}
.VEplaybtn{ margin-right:5px;}
}




