

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: 'LeagueGothic', Arial, Helvetica, sans-serif;
	line-height: 100%;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
}

h2 {
	font-size: 40px !important;
}

a {
	color: #000;
	text-decoration: none;
	padding: 0px;
}

a:hover {
	background: #ff0;
}

a, a:link, a:focus, a:visited {
	outline: none;
}

.esc {
	position: relative;
	clear: both;
	width: 100%;
}

header, footer {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

header {
	text-align: center;
}

#logo {
	position: relative;
	margin: 20px auto;
	width: 960px;
	text-align: center;
}

#logo h1 {
	font-size: 100px;
	position: relative;
	margin: 20px auto auto auto;
	display: block;
	float: left;
}

#logo h1 span {
	text-transform: none;
}

#logo a {
	background: none;
	display: inline;
	margin: 0px;
}

#logo img {
	position: relative;
	cursor: pointer;
	display: block;
	float: left;
	margin-top: 10px;
}

#logo h2 {
	font-size: 50px;
}


#content {
	position: relative;
	margin: 50px auto;
	width: 960px;
}
/********************************
 * generic als elements styling
 ********************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	
	
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
	background: #3f3f3f;
	height: 199px;
}
.als-itemEpisode {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
	background: #000;
	height: 199px;
}
#episodes .als-item { background: #000; }

.als-itemEpisode {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
	background: #000000;
	height: 199px;
}
.pulslate{
-webkit-animation-duration: 3.6s;
    -moz-animation-duration: 3.6s;
    -o-animation-duration: 3.6s;
    animation-duration: 3.6s;
    -webkit-animation-name: pulsateAnimation;
    -moz-animation-name: pulsateAnimation;
    -o-animation-name: pulsateAnimation;
    animation-name: pulsateAnimation;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}



.als-prev, .als-next {
	position: relative;
	cursor: pointer;
	clear: both;
}


/**************************
 * specific als elements
 * styling for #lista1
 **************************/

.als-container {
	margin: 10px 10px 10px 10px;
}

.als-container .als-item {
	
	margin: 0px 10px 0px 0px;
	min-height: 152px;
	min-width: 128px;
}

.als-container .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
	

}

.als-container .als-prev, #movieDiv .als-next {
	top: 58px;
	width: 15px;
	height: 22px;
}

.als-container .als-prev {
	left: 90px;
}

.als-container .als-next {
	right: 100px;
}

/************************
 * specific als element
 * styling for #lista2
 ***********************/
