@charset "utf-8";
/* CSS Document */

@font-face{font-family:'Roboto-Regular';src:url(../fonts/Roboto-Regular.eot);src:url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/Roboto-Regular.woff2) format('woff2'),url(../fonts/Roboto-Regular.woff) format('woff'),url(../fonts/Roboto-Regular.ttf) format('truetype'),url(../fonts/Roboto-Regular.svg#Roboto-Regular) format('svg')}

body { background-color:#000; font-family:'Roboto-Regular', Arial, Helvetica, sans-serif;}
/*.dds_wrapper { width:95%; margin:0 auto;}*/
.dds_header_blk { position:fixed; left:2%;}
.dds_logo { width:100px; float:left; margin-top:20px; margin-right:30px;}
.dds_logo img { width:100%;}
.dds_ttl { float:left; margin-top:30px;}
.dds_ttl h2 { font-size:26px; color:#fff; font-family:'Roboto-Regular', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin-top:10px;}
.dds_bnr { width:100%; position:fixed; top:20%; text-align:center; margin-top:-2%; margin-bottom:10px; }
.dds_bnr img { width:50%;}
.dds_inf { width:90%; left:5%; position:fixed; bottom:5%;}
.dds_inf_wpr { width:95%; height:42vh; display: flex; margin:0 auto; background-color:#323132;    padding:30px; color:#fff; font-family:'Roboto-Regular', Arial, Helvetica, sans-serif;}
.dds_inf_wpr h3 { font-weight:normal; font-size:18px; margin:0 0 10px 0;}
.dds_inf_wpr ul { margin-bottom:0px; padding-bottom:0px; padding-left:21px;  }
.dds_inf_wpr ul li { font-weight:normal; font-size:18px; line-height:25px; list-style:decimal; margin-bottom:10px;}
.dds_inf_wpr ul li span { font-weight:600; color: #fff !important;}
.dds_inf .dds_lft { float:left; width:60%; color:#aaa;}
.dds_inf .dds_rhs { float:right; width:40%;}
.dds_actblk { width:100%; float:right; margin-top:3px; text-align:center;}
.dds_act { float:right; padding:15px 0px; width:100%; border:solid 3px #fff; text-align:center;}
.dds_act h3 { font-weight:normal; font-size:14px; text-transform: uppercase; margin-bottom:3px;}
.dds_act h4 { font-weight:normal; font-size:30px; text-transform: uppercase; margin:0px; letter-spacing: 3px;}
.dds_inf_wpr p { display:inline-block; text-align:center; font-size:13px; line-height:16px; margin-top:5px;}
.cn_btn { background-color:#b3161c; width:100%; outline:none; font-size:14px; border:solid 1px #920e14; cursor:pointer; color:#fff; padding:6px 10px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.cn_btn_hover { background-color:#9c0006;}
/*.cn_btn_active { background-color:#9c0006;}*/

.cn_btn_active { background-color:#9c0006; -webkit-box-shadow: 0px 0px 10px 1px rgba(130, 130, 130, 0.75);
-moz-box-shadow: 0px 0px 10px 1px rgba(130, 130, 130, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(130, 130, 130, 0.75);}

.dds_popbk { width:100%; height:100%; background-image:url(../images/bg.png); background-repeat:repeat; position:fixed;}
.dds_popExp { width:100%; height:100%; background-repeat:repeat; position:fixed;}
.dds_popup { width:475px; margin-top:600px; margin-top:22% !important; margin:0 auto; padding: 30px 20px; font-size:16px; text-align:center; background-color:#232323; border:solid 1px #393939; color:#fff; -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.dds_popup p { margin-bottom:20px;}
.dds_popup .pop_btn { padding:5px 20px; background-color:#0f0f0f; color:#fff; border:solid 1px #000000; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.pop_btn_act { background-color:#1d1d1d; -webkit-box-shadow: 0px 0px 13px 2px rgba(153,153,153,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(153,153,153,1);
box-shadow: 0px 0px 13px 2px rgba(153,153,153,1);}

.dds_logoexp {
    width: 100px;
    margin:0 auto;
    margin-top: 18%;
}

.dds_logoexp img {
	width: 100px;
}

.dds_popupexp { width:475px; margin-top:600px; margin-top:2% !important; margin:0 auto; padding: 30px 20px; font-size:16px; text-align:center; background-color:#232323; border:solid 1px #393939; color:#fff; -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);
box-shadow: 0px 0px 13px 2px rgba(0,0,0,1);     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}